/* 
* type:        step
* number:      5
* title:       Make changes to the CSS
* description: Change the background to skyblue below, then go back to
*              the browser tab that opened when you clicked the "Preview"
*              button in Step 3. You should now see your skyblue colour
*              applied. Open up the terminal window where you have the
*              discourse_theme CLI running and you should see 
*              ```
*              » Fast updating common.scss
*              ✔ Done! Watching for changes...
*              ```
*              Whenever you make changes to common/common.scss, they'll
*              automatically be applied to the common/common.scss in the 
*              copy of discourse-theme-introduction on Theme Creator.
* references:  https://meta.discourse.org/t/93648,
*              https://meta.discourse.org/t/152002
*/
body {
  background: url("#{$body_background_img_url}");
}

/* 
* type:        step
* number:      5.1
* title:       Find tags and classes to change 
* description: Open up your browser's web developer tools. There are some links
*              for popular browsers below if you want to learn more about your 
*              browser's tools and how to use them. Some common Discourse
*              classes are listed below with some default values set. Change 
*              them and then click around your "Preview" tab of the Theme 
*              Creator to see the effect.
* references:  https://developer.mozilla.org/en-US/docs/Learn/Common_questions/What_are_browser_developer_tools,
*              https://developer.chrome.com/docs/devtools/
*/
.btn {
  border-radius: 0px;
}

.d-header {
  height: 4em;
}

#reply-control {
  box-shadow: 0 -1px 40px rgba(0, 0, 0, 0.12);
}

.nav-pills > li a {
  border-bottom: 0;
}

/* 
* type:        step
* number:      6
* title:       Open up a mobile preview tab
* description: Copy the URL in your preview tab, and open a new browser tab. 
*              Use your browser's web developer tools to change the tab to
*              "Responsive Design Mode" or "Device mode". Once that's enabled,
*              paste the URL from your existing preview tab in the URL bar and
*              load your previewed theme. Keep this mobile tab open, alongside
*              your existing preview tab, for the rest of this unit. When you
*              have both preview tabs open, go to desktop/desktop.scss for the
*              next step.
* references:  https://developer.mozilla.org/en-US/docs/Tools/Responsive_Design_Mode,
*              https://developer.chrome.com/docs/devtools/device-mode/
*/